Package: com.muirey03.libkernutils-dev
Name: libkernutils-dev
Depends: 
Version: 1.0
Architecture: iphoneos-arm
Description: Headers for libkernutils
Maintainer: Muirey03
Author: Muirey03
Section: System
Tag: role::developer
